body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    background: #f9f9f9;
}

.wrap {
    background: #ffffff;
    width: 1050px;
    margin: 0 auto;
}

.main {
    padding: 50px 0 60px;
    box-shadow: 0 0 6px #dbdbdb;
    -moz-box-shadow: 0 0 6px #dbdbdb;
    -webkit-box-shadow: 0 0 6px #dbdbdb;
    -o-box-shadow: 0 0 6px #dbdbdb;
    -ms-box-shadow: 0 0 6px #dbdbdb;
}

.main img {
    margin-left: 48px;
}

.copyright, nav li a {
    text-decoration: none;
    font-size: 13.333px;
    color: rgb(44, 44, 44);
    line-height: 2.2;
}

.top-menu {
    width: 966px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 41px;
    padding: 0 25px 0 0;
    font-size: 14.667px;
    line-height: 2;
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e5e5e+0,000000+100,444343+100 */
    background: #5e5e5e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlNWU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ0MzQzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #5e5e5e 0%, #000000 100%, #444343 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#000000), color-stop(100%,#444343)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5e5e5e 0%,#000000 100%,#444343 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5e5e5e 0%,#000000 100%,#444343 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5e5e5e 0%,#000000 100%,#444343 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5e5e5e 0%,#000000 100%,#444343 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#444343',GradientType=0 ); /* IE6-8 */
}

.top-menu li {
    float: left;
    margin-right: 96px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 14px 24px;
}

.top-menu ul li:first-child {
    border-left: none;
}

.top-menu li:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e2e2e+0,4a4a4a+100,444343+100 */
    background: #2e2e2e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTRhNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDQ0MzQzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  #2e2e2e 0%, #4a4a4a 100%, #444343 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2e2e2e), color-stop(100%,#4a4a4a), color-stop(100%,#444343)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #2e2e2e 0%,#4a4a4a 100%,#444343 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #2e2e2e 0%,#4a4a4a 100%,#444343 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #2e2e2e 0%,#4a4a4a 100%,#444343 100%); /* IE10+ */
    background: linear-gradient(to right,  #2e2e2e 0%,#4a4a4a 100%,#444343 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#444343',GradientType=1 ); /* IE6-8 */
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

.top-menu li a {
    color: #fff;
}

.top-menu li a:active {
    color: #00ffff;
}

.sidebar,
.content {
    float: left;
}

.sidebar {
    width: 240px;
    margin-right: 48px;
    margin-left: 46px;
}

.sidebar ul {
    border: 0 solid #c8c8c8;
    border-width: 0 0 1px 1px;
}

.sidebar li {
    border: 0 solid #c8c8c8;
    border-width: 1px 1px 0 0;
    padding: 14px 0 14px 24px;
}

.sidebar li:hover {
    background: #f9f9f9;
}

.content {
    width: 678px;
    box-sizing: padding-box;
}

.bicycle {
    border: 1px solid #c8c8c8;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 46px;
    margin-bottom: 37px;
}

.lorem {
    padding: 0 25px;
    font-size: 13.333px;
    color: rgb(44, 44, 44);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}

footer  {
    width: 950px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 18px 25px;
    background: url('../images/bg_botmenu.jpg');
}

.footer-menu li {
    float: left;
    margin-right: 96px;
}

.footer-menu li:hover {
    text-decoration: underline;
}

.copyright {
    float: right;
}